image: Visual Studio 2022

environment:
  shortversion: '2.5.0'
  informationalversion: '2.5.0'

version: '$(shortversion).{build}'

configuration: Release

install:
- ps: (New-Object Net.WebClient).DownloadString("https://raw.githubusercontent.com/realvizu/Tools/master/Build/buildtools.ps1") | Invoke-Expression

assembly_info:
  patch: true
  file: source\include\VersionInfo.cs
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '$(informationalversion)'

dotnet_csproj:
  patch: true
  file: source\NsDepCop.NuGet\NsDepCop.NuGet.csproj
  package_version: '$(informationalversion)'

before_build:
- cmd: nuget restore -Verbosity quiet source\NsDepCop.sln

build:
  project: source\NsDepCop.sln
  verbosity: minimal

test:
  assemblies: '**\*Test*.dll'

artifacts:
- path: 'source\NsDepCop.NuGet\bin\$(configuration)\NsDepCop*.nupkg'
