image: Visual Studio 2019

environment:
  shortversion: '2.1.0'
  informationalversion: '2.1.0'

version: '$(shortversion).{build}'

configuration: Release

install:
- ps: (New-Object Net.WebClient).DownloadString("https://raw.githubusercontent.com/realvizu/Tools/master/Build/buildtools.ps1") | Invoke-Expression

assembly_info:
  patch: true
  file: source\include\VersionInfo.cs
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '$(informationalversion)'

dotnet_csproj:
  patch: true
  file: source\NsDepCop.NuGet\NsDepCop.NuGet.csproj
  package_version: '$(informationalversion)'

before_build:
# vsixmanifest file must be specified with full path.
- ps: Set-VsixVersion $env:APPVEYOR_BUILD_FOLDER\source\NsDepCop.ConfigSchema\source.extension.vsixmanifest $env:shortversion -ErrorAction Stop
- cmd: nuget restore -Verbosity quiet source\NsDepCop.sln

build:
  project: source\NsDepCop.sln
  verbosity: minimal

test:
  assemblies: '**\*Test*.dll'

artifacts:
#- path: 'source\NsDepCop.ConfigSchema\bin\$(configuration)\NsDepCop*.vsix'
- path: 'source\NsDepCop.NuGet\bin\$(configuration)\NsDepCop*.nupkg'
