<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <TextStyle Id="NotificationStyle" FaceName="Tahoma" Size="8" Bold="yes" />
            
            <Dialog Id="CustomWelcomeDlg" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" >
                    <Publish Property="WixUI_InstallMode" Value="Update">Installed AND PATCH</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Description" Type="Text" X="135" Y="80" Width="220" Height="50" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription)" >
                    <Condition Action="show">NOT Installed OR NOT PATCH</Condition>
                    <Condition Action="hide">Installed AND PATCH</Condition>
                </Control>
                <Control Id="PatchDescription" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeUpdateDlgDescriptionUpdate)" >
                    <Condition Action="show">Installed AND PATCH</Condition>
                    <Condition Action="hide">NOT Installed OR NOT PATCH</Condition>
                </Control>
                <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" />

                <Control Id="NotificationLine" Type="Line" X="135" Y="135" Width="220" Height="100" />
                <Control Id="Notification" Type="Text" X="135" Y="150" Width="220" Height="30" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgNotification)" />
                <Control Id="GitHubLink" Type="Hyperlink" X="135" Y="190" Height="15" Width="220" Transparent="yes">
                    <Text><![CDATA[<a href="https://github.com/realvizu/NsDepCop">https://github.com/realvizu/NsDepCop</a>]]></Text>
                </Control>
                <Control Id="NuGetLink" Type="Hyperlink" X="135" Y="205" Height="15" Width="220" Transparent="yes">
                    <Text><![CDATA[<a href="https://nuget.org/packages/NsDepCop">https://nuget.org/packages/NsDepCop</a>]]></Text>
                </Control>
            </Dialog>

            <InstallUISequence>
                <Show Dialog="CustomWelcomeDlg" Before="ProgressDlg" Overridable="yes">NOT Installed OR PATCH</Show>
            </InstallUISequence>
        </UI>
    </Fragment>
</Wix>