<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vse="http://schemas.microsoft.com/wix/VSExtension">
    <Fragment>

        <PropertyRef Id="VS2015DEVENV"/>

        <Feature Id="Feature_VisualStudioPackage"
                 Title="Visual Studio 2015 integration"
                 Description="Installs a Visual Studio extension (VSIX) that highlights namespace dependency issues in the code editor. (Requires Visual Studio restart.)"
                 Level="1"
                 InstallDefault="local"
                 TypicalDefault="install"
                 AllowAdvertise="no">
            <ComponentGroupRef Id="ComponentGroup_VisualStudioPackage" />
            <Condition Level="0"><![CDATA[NOT VS2015DEVENV]]></Condition>
        </Feature>

        <ComponentGroup Id="ComponentGroup_VisualStudioPackage"
                        Directory="TARGETDIR">
            <Component Id="Component_NsDepCop.VisualStudioIntegration.vsix"
                       Guid="{4669979F-02EA-40BF-BB6F-B08B10252D2D}">
                <File Id="File_NsDepCop.VisualStudioIntegration.vsix"
                      Source="$(var.NsDepCop.VisualStudioIntegration.Vsix.TargetDir)\$(var.NsDepCop.VisualStudioIntegration.Vsix.TargetName).vsix"
                      KeyPath="yes">
                    <vse:VsixPackage PackageId="NsDepCop.VisualStudioIntegration..e8ae3b7e-3cd5-40ef-92ca-b22ef9d0cc24"
                                     Vital="yes"
                                     Permanent="no"/>
                </File>
            </Component>
        </ComponentGroup>

    </Fragment>
</Wix>