<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <FeatureGroup Id="FeatureGroup_Prerequisites"/>

        <Property Id="MSBUILD140">
            <DirectorySearch Id="SystemFolderDriverVersion" Path="[ProgramFilesFolder]MSBuild\14.0\Bin">
                <FileSearch Name="msbuild.exe"/>
            </DirectorySearch>
        </Property>
        
        <Condition Message='This tool requires MSBuild 14.0 (aka Microsoft Build Tools 2015).'>
            <![CDATA[Installed OR MSBUILD140]]>
        </Condition>
        
    </Fragment>
</Wix>