<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <?define ProductCode = "73A487DD-94B4-4223-89F7-4B551B4F71D4"?>
    <?define UpgradeCode = "DCF33D45-CE3C-423B-9B76-9D504164B260"?>

    <Product Id="$(var.ProductCode)"
             UpgradeCode="$(var.UpgradeCode)"
             Name="NsDepCop - Namespace dependency checker tool for C# (v!(bind.assemblyVersion.File_NsDepCop.MsBuildTask.dll) for VS2015)"
             Manufacturer="Codartis"
             Language="1033"
             Version="!(bind.assemblyVersion.File_NsDepCop.MsBuildTask.dll)" >

        <Package InstallerVersion="200"
                 InstallScope="perMachine"
                 Compressed="yes"
                 InstallPrivileges="elevated" />

        <Media Id="1"
               Cabinet="NsDepCop.cab"
               EmbedCab="yes" />

        <MajorUpgrade AllowDowngrades="no" 
                      DowngradeErrorMessage="A newer version is already installed." />

        <Directory Id="TARGETDIR" Name="SourceDir"/>

        <UIRef Id="WixUI_NsDepCop" />
        <FeatureGroupRef Id="FeatureGroup_Prerequisites"/>
        <FeatureGroupRef Id="FeatureGroup_CustomActions"/>
        <FeatureRef Id="Feature_ConfigXmlSchema" />
        <FeatureRef Id="Feature_GlobalMSBuildIntegration" />

        <Icon Id="NsDepCop_256.ico" SourceFile="NsDepCop_256.ico"/>
        <Property Id="ARPPRODUCTICON" Value="NsDepCop_256.ico" />

        <Property Id="INSTALLLEVEL" Value="1" />
        
        <Property Id="ARPURLINFOABOUT">https://github.com/realvizu/NsDepCop</Property>
        
    </Product>
    
</Wix>