<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="5325A783-496F-435A-8F93-1AAA0453ABCE"
           UpgradeCode="56a21729-da73-4571-82e2-ecf4bb5caf7a"
           Name="NsDepCop - Namespace dependency checker tool for C#"
           Manufacturer="Codartis"
           Language="1033"
           Version="!(bind.assemblyVersion.File_NsDepCop.MsBuildTask.dll)" >
    
    <Package InstallerVersion="200" 
             InstallScope="perMachine"
             Compressed="yes"
             InstallPrivileges="elevated" />

    <Media Id="1" 
           Cabinet="NsDepCop.cab" 
           EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message='This setup requires .NET Framework 4.0 (full) installed.'>
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Property Id="ROSLYN_INSTALLED_VERSION">
      <RegistrySearch Id="RegSearch_Roslyn" 
                      Type="raw" 
                      Root="HKLM" 
                      Key='Software\Classes\Installer\Products\EBC4B2C91F61DD04CBBF08BC11D290D2' 
                      Name='Version' />
    </Property>
    <Condition Message="This setup requires 'Microsoft Roslyn CTP - September 2012' to be installed.">
      <![CDATA[Installed OR ROSLYN_INSTALLED_VERSION="#16929194"]]>
    </Condition>

    <Binary Id="NsDepCop.Setup.CustomActions"
            SourceFile="$(var.NsDepCop.Setup.CustomActions.TargetDir)\$(var.NsDepCop.Setup.CustomActions.TargetName).CA.dll" />

    <CustomAction Id="AddNsDepCopTaskToTargetsFile"
                  BinaryKey="NsDepCop.Setup.CustomActions"
                  DllEntry="AddNsDepCopTaskToTargetsFile"
                  Execute="deferred"
                  Return="check" />

    <CustomAction Id="SetData_AddNsDepCopTaskToTargetsFile"
                  Return="check"
                  Property="AddNsDepCopTaskToTargetsFile"
                  Value="TARGETSFILEPATH=[Folder_MsBuildVersion]Custom.After.Microsoft.CSharp.targets" />

    <CustomAction Id="RemoveNsDepCopTaskFromTargetsFile"
                  BinaryKey="NsDepCop.Setup.CustomActions"
                  DllEntry="RemoveNsDepCopTaskFromTargetsFile"
                  Execute="deferred"
                  Return="ignore" />

    <CustomAction Id="SetData_RemoveNsDepCopTaskFromTargetsFile" 
                  Return="check"
                  Property="RemoveNsDepCopTaskFromTargetsFile"
                  Value="TARGETSFILEPATH=[Folder_MsBuildVersion]Custom.After.Microsoft.CSharp.targets" />

    <InstallExecuteSequence>
      <Custom Action="AddNsDepCopTaskToTargetsFile" After="InstallFiles"><![CDATA[REMOVE <> "ALL"]]></Custom>
      <Custom Action="SetData_AddNsDepCopTaskToTargetsFile" Before="AddNsDepCopTaskToTargetsFile"/>

      <Custom Action="RemoveNsDepCopTaskFromTargetsFile" After="RemoveFiles">REMOVE = "ALL"</Custom>
      <Custom Action="SetData_RemoveNsDepCopTaskFromTargetsFile" Before="RemoveNsDepCopTaskFromTargetsFile"/>
    </InstallExecuteSequence>
    
    <Feature Id="Feature_MsBuildTask" Title="NsDepCop MsBuildTask" Level="1">
      <ComponentGroupRef Id="ComponentGroup_MsBuildTask" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Folder_MsBuild" Name="MSBuild">
          <Directory Id="Folder_MsBuildVersion" Name="v4.0"/>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ComponentGroup_MsBuildTask" 
                    Directory="Folder_MsBuildVersion">
      <Component Id="Component_NsDepCop.MsBuildTask.dll" 
                 Guid="BA43D9D3-685E-49F6-B9E4-198D7BFEDDB5">
        <File Id="File_NsDepCop.MsBuildTask.dll"
              Source="$(var.NsDepCop.MsBuildTask.TargetPath)" 
              Assembly=".net"
              AssemblyApplication="File_NsDepCop.MsBuildTask.dll"
              KeyPath="yes"  />
      </Component>
      <Component Id="Component_NsDepCop.Core.dll" 
                 Guid="498660D0-F175-4D51-9BE7-23A0492A56F7">
        <File Id="File_NsDepCop.Core.dll" 
              Source="$(var.NsDepCop.Core.TargetPath)"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <UIRef Id="WixUI_Minimal" />
    
  </Product>
  
</Wix>