<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product Id="5325A783-496F-435A-8F93-1AAA0453ABCE"
             UpgradeCode="56a21729-da73-4571-82e2-ecf4bb5caf7a"
             Name="NsDepCop - Namespace dependency checker tool for C#"
             Manufacturer="Codartis"
             Language="1033"
             Version="!(bind.assemblyVersion.File_NsDepCop.MsBuildTask.dll)" >

        <Package InstallerVersion="200"
                 InstallScope="perMachine"
                 Compressed="yes"
                 InstallPrivileges="elevated" />

        <Media Id="1"
               Cabinet="NsDepCop.cab"
               EmbedCab="yes" />

        <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

        <UIRef Id="WixUI_NsDepCop" />
        <FeatureRef Id="Feature_MsBuildTask" />
        <FeatureRef Id="Feature_ItemTemplate" />
        <FeatureGroupRef Id="FeatureGroup_CustomActions"/>
        <FeatureGroupRef Id="FeatureGroup_Prerequisites"/>

    </Product>
    
</Wix>