<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product Id="29F08BE2-7FDE-4232-81D3-16DBB252551D"
             UpgradeCode="56a21729-da73-4571-82e2-ecf4bb5caf7a"
             Name="NsDepCop - Namespace dependency checker tool for C# (v!(bind.assemblyVersion.File_NsDepCop.MsBuildTask.dll) for VS2013)"
             Manufacturer="Codartis"
             Language="1033"
             Version="!(bind.assemblyVersion.File_NsDepCop.MsBuildTask.dll)" >

        <Package InstallerVersion="200"
                 InstallScope="perMachine"
                 Compressed="yes"
                 InstallPrivileges="elevated" />

        <Media Id="1"
               Cabinet="NsDepCop.cab"
               EmbedCab="yes" />

        <MajorUpgrade AllowDowngrades="no" 
                      DowngradeErrorMessage="A newer version is already installed." />

        <Directory Id="TARGETDIR" Name="SourceDir"/>

        <UIRef Id="WixUI_NsDepCop" />
        <FeatureGroupRef Id="FeatureGroup_Prerequisites"/>
        <FeatureGroupRef Id="FeatureGroup_CustomActions"/>
        <FeatureRef Id="Feature_MsBuildTask" />
        <FeatureRef Id="Feature_ItemTemplate" />
        <FeatureRef Id="Feature_CodeIssueProvider"/>

    </Product>
    
</Wix>